{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'house/css/create.css' %}">
 {% endblock %}

{% block presentation %}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}
{% block form %}{% endblock %}
<div class="row">
<form action="{% url 'house:create' %}" method="POST" enctype="multipart/form-data" class="col-sm-8 col-sm-offset-2">
	{% csrf_token %}
	<legend>Formulaire de création </legend>
	{{ form|crispy }}
	<input class="btn btn-primary glyphicon glyphicon-ok-sign" type="submit" value="Envoyer" style="color:#4f4;" />

</form>
</div>
{% endblock %}

{% block aside %}{% endblock %}
