{% extends "base.html" %}


{% block content %}
<div class="container" style="padding-top: 50px;">

	{% if not billing_profile %}

	<div class="row text-center">

		<div class="col-12 col-md-6">			

			{% include "accounts/snippets/form.html" with form=login_form next_url=request.build_absolute_uri  %}


		<br>
		<h3 class="lead text-center"> Ou </h3>
		</div>
		<div class="col-12 col-md-6">
			<h3>
				Continuer en tant qu'invité
			</h3>

			{% url "accounts:guest_register" as guest_register_url %}

			{% include "accounts/snippets/form.html" with login_label="Continuer" head_form=" " form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}

		</div>
	</div>



	{% else %}
		{% if not object.shipping_address and shipping_address_required %}
			<div class="row text-center">
				<div class="col-12">
					<p class="lead">Adresse de livraison</p>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mx-auto col-10">
					

					{% url "addresses:checkout_address_create" as checkout_address_create %}
					{% include "addresses/form.html" with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type="shipping" %}


				</div>
				<div class="col-md-6">
					{% url "addresses:checkout_address_reuse" as checkout_address_reuse %}

					{% include "addresses/prev_addresses.html" with address_qs=address_qs next_url=request.build_absolute_uri address_type="shipping" action_url=checkout_address_reuse %}
					


				</div>
			</div>


		{% elif not object.billing_address %}

				<div class="row text-center">
					<div class="col-12">
						<p class="lead">  Adresse de facturation </p>
						<hr>
					</div>
				</div>
			<div class="row">
				<div class="col-6">
					{% url "addresses:checkout_address_create" as checkout_address_create %}
					{% include "addresses/form.html" with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type="billing" %}
				</div>
				<div class="col-md-6">

					{% url "addresses:checkout_address_reuse" as checkout_address_reuse %}
					{% include "addresses/prev_addresses.html" with address_qs=address_qs next_url=request.build_absolute_uri address_type="billing" action_url=checkout_address_reuse %}

				</div>
			</div>



		{% else %}

			{% if not has_card %}
			<!-- enter credit card here -->

				<div class="stripe-payment-form" data-token="{{ publish_key }}" data-next-url="{{ request.build_absolute_uri }}" data-btn-tilte ="Ajouter un mode de paiement"></div>

			{% else %}
				<h1>Finaliser la caisse</h1>
				<p>Cart Items : {% for product in  object.cart.products.all %} {{ product }} {% if not forloop.last %}, {% endif %} {% endfor %}</p>

				<p>Shipping address : {{ object.shipping_address.get_address }}</p>
				<p>Billing address : {{ object.billing_address.get_address }}</p>

				<p>Mode de paiement: {{ billing_profile.default_card  }} (<a href="{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}">Changer</a>) </p>


				<p>Panier Total : {{ object.cart.total }}</p>
				<p>Total d'expédition: {{ object.shipping_total }}</p>

				<p>Total de la commande: {{ object.total }}</p>

				<form class="form" method="POST" action="">
					{% csrf_token %}
					<button type="submit" class="btn btn-success">Terminer la caisse</button>
				</form>
			{% endif %}
		{% endif %}

{% endif %}


</div>
{% endblock content %}