 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>SyliMarket</title>
        
     </head>
     <body>

     	<div>
     		<div>
     			<h3>Information sur votre achat que vous venez d'effectuer sur SyliMarket</h3>

                    <p><strong> {{ models_instance.updated }} </strong></p>

     				<p>
     					Les articles sont : {% for product in  models_instance.cart.items.all %} {{ product }} {% if not forloop.last %}, {% endif %} {% endfor %}
     				</p>



     				<p>Adresse de livraison : {{ models_instance.livraison_address.get_address }}</p>
					<p>Adresse de facturation : {{ models_instance.facturation_address.get_address }}</p>

					<p>Méthode de payement: Payement à la livraison </p>


					<p>Cart Total : {{ models_instance.cart.total }}</p>
					<p>Sous Total: {{ models_instance.shipping_total }}</p>

					<p>Total de la commande: {{ models_instance.total }}</p>

					<p>Achat identifié par : <strong>{{ models_instance.order_payement_livraison_id }}</strong></p>
     		</div>
     	</div>


     </body>