{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="#">Home</a></li>
				<li class='active'>Choix de payement</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="checkout-box ">
			<div class="row">
				<div class="col-md-8">
					<div class="panel-group checkout-steps" id="accordion">
						<!-- checkout-step-01  -->
<div class="panel panel-default checkout-step-01">

	<!-- panel-heading -->
		<div class="panel-heading">
    	<h4 class="unicase-checkout-title">
	        <a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseOne">
	          <span>1</span>METHODE DE PAYEMENT
	        </a>
	     </h4>
    </div>
    <!-- panel-heading -->

	<div id="collapseOne" class="panel-collapse collapse in">

		<!-- panel-body  -->
	    <div class="panel-body">
			<div class="row">		

				<!-- guest-login -->			
				<div class="col-md-6 col-sm-6 guest-login">
					<h4 class="checkout-subtitle">Faites votre choix de payement</h4>
					<p class="text title-tag-line">Voice les différents de payement disponibles</p>

					<!-- radio-form  -->
					<form method="POST" class="register-form" role="form">
						{% csrf_token %}
					          <br>
					      {{ form.paymement_choices.label_tag }}
                          {{ form.paymement_choices }}

                          {% if form.paymement_choices.errors %}
                            <small style="color: red">{{ form.paymement_choices.errors }}</small>
                          {% endif %}
                    	<button type="submit" class="btn-upper btn btn-primary checkout-page-button checkout-continue">Suivant</button>

					</form>
					<!-- radio-form  -->

				</div>
				<!-- guest-login -->

				<!-- already-registered-login -->
				<div class="col-md-6 col-sm-6 already-registered-login">
					<h4 class="checkout-subtitle">Vous n'êtes pas connectés encore ?</h4>
					<p class="text title-tag-line">Il serait necessaire de se connecté avant de passez la commande</p>
						{% include "accounts/snippets/form.html" with form=login_form next_url=request.build_absolute_uri  %}
				</div>	
				<!-- already-registered-login -->		

			</div>			
		</div>
		<!-- panel-body  -->

	</div><!-- row -->
</div>
<!-- checkout-step-01  -->


					  	
					</div><!-- /.checkout-steps -->
				</div>
				<div class="col-md-4">
					<!-- checkout-progress-sidebar -->
<div class="checkout-progress-sidebar ">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h4 class="unicase-checkout-title">Your Checkout Progress</h4>
		    </div>
		    <div class="">
				<ul class="nav nav-checkout-progress list-unstyled">
					<li><a href="#">Ajouter une adresse de facturation</a></li>
					<li><a href="#">Ajouter une adresse de livraison</a></li>
					<li><a href="#">Ajouter une méthode de payement</a></li>
				</ul>		
			</div>
		</div>
	</div>
</div> 
<!-- checkout-progress-sidebar -->				</div>
			</div><!-- /.row -->
		</div><!-- /.checkout-box -->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
<div id="brands-carousel" class="logo-slider wow fadeInUp">

		<div class="logo-slider-inner">	
			<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
				<div class="item m-t-15">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand1.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item m-t-10">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand2.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand3.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand4.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand5.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand6.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand2.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand4.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand1.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand5.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->
		    </div><!-- /.owl-carousel #logo-slider -->
		</div><!-- /.logo-slider-inner -->
	
</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->


{% endblock content %}
