{% load static %}



<div class="row">
	<h3 class="lead text-center">Les marques partenaires</h3>
	<div class="col">
		<ul class="marque-tabs">
			<li class="active"><a href="#populaire">Populaire</a></li>
			<li><a href="#mode">Mode</a></li>
			<li><a href="#electronique">Electronique</a></li>
			<li><a href="#menage">Ménage</a></li>


		</ul>
		<div class="marque-tabs-content">

			<div class="marque-tab-content active" id="populaire">
				<img src="{% static 'images/marque/apple.jpg' %}">
				<img src="{% static 'images/marque/samsung.jpg' %}">
				<img src="{% static 'images/marque/oppo.jpg' %}">
				<img src="{% static 'images/marque/whirlpool.jpg' %}">
				<img src="{% static 'images/marque/loreal.jpg' %}">
				<img src="{% static 'images/marque/adidas.jpg' %}">
				<img src="{% static 'images/marque/lg.png' %}">
				<img src="{% static 'images/marque/tommy-hilfiger.jpg' %}">
				<img src="{% static 'images/marque/nike.jpg' %}">



			</div>

			<div class="marque-tab-content" id="mode">
				<img src="{% static 'images/marque/adidas.jpg' %}">
				<img src="{% static 'images/marque/tommy-hilfiger.jpg' %}">
				<img src="{% static 'images/marque/nike.jpg' %}">
				<img src="{% static 'images/marque/lg.png' %}">
				<img src="{% static 'images/marque/loreal.jpg' %}">
				<img src="{% static 'images/marque/tefal.jpg' %}">
			</div>

			<div class="marque-tab-content" id="electronique">
				<img src="{% static 'images/marque/apple.jpg' %}">
				<img src="{% static 'images/marque/samsung.jpg' %}">
				<img src="{% static 'images/marque/oppo.jpg' %}">
				<img src="{% static 'images/marque/itel.jpg' %}">
				<img src="{% static 'images/marque/sony.jpg' %}">
				<img src="{% static 'images/marque/xiaomi.jpg' %}">
				<img src="{% static 'images/marque/zte.jpg' %}">
				<img src="{% static 'images/marque/stg.jpg' %}">
				<img src="{% static 'images/marque/accent.jpg' %}">

			</div>


			<div class="marque-tab-content" id="menage">
				<img src="{% static 'images/marque/samsung.jpg' %}">
				<img src="{% static 'images/marque/moulinex.jpg' %}">
				<img src="{% static 'images/marque/whirlpool.jpg' %}">
				<img src="{% static 'images/marque/lg.png' %}">
				<img src="{% static 'images/marque/taurus.jpg' %}">
				<img src="{% static 'images/marque/pampers.jpg' %}">
			</div>
		</div>
	</div>
</div>
