{% load static %}
  

{% url 'home' as home_url %}

{% url "products:list" as products_list_url %}

{% url "contact" as contact_url %}

{% url "accounts:login" as login_url %}
{% url "accounts:logout" as logout_url %}
{% url "accounts:register" as register_url %}
{% url "accounts:home" as account_home_url %}


{% url "carts:home" as cart_home_url %}

  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled">
            <li><a href="{% url 'wishs:home' %}"><i class="icon fa fa-heart"></i>Favories</a></li>
            <li><a href="{{ cart_home_url }}"><i class="icon fa fa-shopping-cart"></i>Mon panier</a></li>
            <li><a href="{% url 'carts:payement_method' %}"><i class="icon fa fa-check"></i>La caisse</a></li>
            {% if request.user.is_authenticated %}

            <li><a href="{% url 'accounts:home' %}"><i class="icon fa fa-user"></i>Mon compte</a></li>
            <li><a href="{{ logout_url }}"><i class="icon fa fa-user"></i>Deconnexion</a></li>

            {% else %}
             <li><a href="{{ login_url }}"><i class="icon fa fa-lock"></i>Connexion</a></li>
             <li><a href="{{ register_url }}"><i class="icon fa fa-lock"></i>S'enregistrer</a></li>

            {% endif %}
          </ul>
        </div>
        <!-- /.cnt-account -->
        
        <div class="cnt-block">
          <ul class="list-unstyled list-inline">
            <li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">GNF </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">GNF</a></li>
                <li><a href="#">USD</a></li>
                <li><a href="#">EUR</a></li>
              </ul>
            </li>
            <li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">Français </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Français</a></li>
                <li><a href="#">English</a></li>
                <li><a href="#">Chinois</a></li>
              </ul>
            </li>
          </ul>
          <!-- /.list-unstyled --> 
        </div>
        <!-- /.cnt-cart -->
        <div class="clearfix"></div>
      </div>
      <!-- /.header-top-inner --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder"> 
          <!-- ============================================================= LOGO ============================================================= -->
          <div class="logo"> <a href="{% url 'home' %}"> <img src="{% static 'images/logo/png/logo1.png' %}" alt="logo"> </a> </div>
          <!-- /.logo --> 
          <!-- ============================================================= LOGO : END ============================================================= --> </div>
        <!-- /.logo-holder -->
        
        <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder"> 
          <!-- /.contact-row --> 
          <!-- ============================================================= SEARCH AREA ============================================================= -->
          <div class="search-area">
            {% include "search/snippets/search_form.html" %}
          </div>
          <!-- /.search-area --> 
          <!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
        <!-- /.top-search-holder -->
        
        <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row"> 
          <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
          
          <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
            <div class="items-cart-inner">
              <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
              <div class="basket-item-count"><span class="count navbar-cart-count ">{% if request.session.cart_items %}{{ request.session.cart_items }} {% else %} 0 {% endif %}</span></div>
              <div class="total-price-basket"> <span class="lbl">cart</span> <span class="total-price"> <span class="sign">GNF</span><span class="value cart-somme-total">{{ request.session.cart_total }}</span> </span> </div>
            </div>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="clearfix"></div>
              <hr>
            
              <div class="clearfix cart-total">
                <div class="pull-right">
                  
                    <span class="text">Sub Total :</span><span class='price cart-somme-total'>{{ request.session.cart_total }} GNF</span>
                    
                </div>
                <div class="clearfix"></div>
                  
                <a href="{% url 'carts:home' %}" class="btn btn-upper btn-primary btn-block m-t-20">La caisse</a>  
              </div><!-- /.cart-total-->
                  
                
            </li>
          </ul><!-- /.dropdown-menu-->
          </div>
          <!-- /.dropdown-cart --> 
          
          <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
        <!-- /.top-cart-row --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.main-header --> 
  
  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav animate-dropdown">
    <div class="container">
      <div class="yamm navbar navbar-default" role="navigation">
        <div class="navbar-header">
       <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
       <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="active dropdown yamm-fw"> <a href="{% url 'home' %}" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Accueil</a> </li>
                <li class="dropdown yamm mega-menu"> <a href="#" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Vêtements</a>
                  <ul class="dropdown-menu container">
                    <li>
                      <div class="yamm-content ">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Hommes</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:pantalon_list' %}">Pantalon</a></li>
                              <li><a href="{% url 'products:men_clothing_list' %}">Chemises </a></li>
                              <li><a href="{% url 'products:culotte_list' %}">Cullete</a></li>
                              <li><a href="{% url 'products:accessoire_clothing_list' %}">Accessoires</a></li>
                              <li><a href="{% url 'products:men_clothing_list' %}">Pour le sport</a></li>
                              <li><a href="{% url 'products:men_shoe_list' %}">Chaussures</a></li>
                              <li><a href="{% url 'products:men_clothing_list' %}">T-Shirts</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Femmes</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:women_clothing_list' %}">Chemisier</a></li>
                              <li><a href="{% url 'products:women_shoe_list' %}">Chausures</a></li>
                              <li><a href="{% url 'products:women_clothing_list' %}">Robes </a></li>
                              <li><a href="{% url 'products:jupe_list' %}">Jupes</a></li>
                              <li><a href="{% url 'products:accessoire_clothing_list' %}">Accessoires</a></li>
                              <li><a href="{% url 'products:women_clothing_list' %}">Mini</a></li>
                              <li><a href="{% url 'products:women_clothing_list' %}">Salopettes</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Jeunes garçons</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:pantalon_list' %}">Jeans</a></li>
                              <li><a href="#">Polo</a></li>
                              <li><a href="{% url 'products:women_clothing_list' %}">Chemises</a></li>
                              <li><a href="{% url 'products:pantalon_list' %}">Pantalon</a></li>
                              <li><a href="{% url 'products:culotte_list' %}">Culottes</a></li>
                              <li><a href="{% url 'products:men_clothing_list' %}">Pulls</a></li>
                              <li><a href="{% url 'products:men_clothing_list' %}">Sacs de cours</a></li>
                              <li><a href="{% url 'products:men_shoe_list' %}">Chaussures</a></li>
                              <li><a href="{% url 'products:men_clothing_list' %}">Toys & Games</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Jeunes filles</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:women_clothing_list' %}">Robes </a></li>
                              <li><a href="{% url 'products:jupe_list' %}">Jupes</a></li>
                              <li><a href="{% url 'products:culotte_list' %}">Culottes</a></li>
                              <li><a href="{% url 'products:women_shoe_list' %}">Chaussures</a></li>
                              <li><a href="{% url 'products:women_clothing_list' %}">Sacs à main</a></li>
                              <li><a href="{% url 'products:women_clothing_list' %}">Robe de nuit</a></li>
                              <li><a href="{% url 'products:women_clothing_list' %}">Habit d'hiver</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image"> <img class="img-responsive" src="{% static 'images/banners/top-menu-banner.jpg' %}" alt=""> </div>
                          <!-- /.yamm-content --> 
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="dropdown mega-menu"> 
                <a href="#"  data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Electroniques<span class="menu-label hot-menu hidden-xs">hot</span> </a>
                  <ul class="dropdown-menu container">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Laptops</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:computer_list' %}">Gaming</a></li>
                              <li><a href="{% url 'products:computer_list' %}">HP</a></li>
                              <li><a href="{% url 'products:computer_list' %}">Apple</a></li>
                              <li><a href="{% url 'products:computer_list' %}">Dell</a></li>
                              <li><a href="{% url 'products:computer_list' %}">Lenovo</a></li>
                              <li><a href="{% url 'products:computer_list' %}">Microsoft</a></li>
                              <li><a href="{% url 'products:computer_list' %}">Asus</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Adapters</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Batteries</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Cooling Pads</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Desktops</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Routers & Modems</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">CPUs, Processors</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">PC Gaming Store</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Graphics Cards</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Components</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Webcam</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Memory (RAM)</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Motherboards</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Keyboards</a></li>
                              <li><a href="{% url 'products:accessoire_phone_list' %}">Headphones</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Cameras</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:accessoire_phone_list' %}">Accessories</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Binoculars</a></li>
                              <li><a href="{% url 'products:accessoire_phone_list' %}">Telescopes</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Camcorders</a></li>
                              <li><a href="{% url 'products:accessoire_phone_list' %}">Digital</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Film Cameras</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Flashes</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Lenses</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Surveillance</a></li>
                              <li><a href="{% url 'products:accessoire_computer_list' %}">Tripods</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Mobile Phones</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:phone_list' %}">Apple</a></li>
                              <li><a href="{% url 'products:phone_list' %}">Samsung</a></li>
                              <li><a href="{% url 'products:phone_list' %}">Lenovo</a></li>
                              <li><a href="{% url 'products:phone_list' %}">Motorola</a></li>
                              <li><a href="{% url 'products:phone_list' %}">LeEco</a></li>
                              <li><a href="{% url 'products:phone_list' %}">Asus</a></li>
                              <li><a href="{% url 'products:phone_list' %}">Acer</a></li>
                              <li><a href="{% url 'products:accessoire_phone_list' %}">Accessories</a></li>
                              <li><a href="{% url 'products:accessoire_phone_list' %}">Headphones</a></li>
                              <li><a href="{% url 'products:accessoire_phone_list' %}">Memory Cards</a></li>
                            </ul>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner"> <a href="{% url 'products:phone_list' %}"><img alt="" src="{% static 'images/banners/banner-side.png' %}"></a> </div>
                        </div>
                        <!-- /.row --> 
                      </div>
                      <!-- /.yamm-content --> </li>
                  </ul>
                </li>
                <li class="dropdown hidden-sm"> <a href="#">Santé & Beauté <span class="menu-label new-menu hidden-xs">new</span> </a> </li>


                <li class="dropdown mega-menu"> 
                <a href="#"  data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Electroménagers <span class="menu-label hot-menu hidden-xs">hot</span> </a>
                  <ul class="dropdown-menu container">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Cuisine</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:electromenager_list' %}">Mixeurs</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">Bateurs</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">Réchauds</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">...</a></li>


                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Toilettes</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:electromenager_list' %}">Machines à laver</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">Savons</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">Crèmes</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">...</a></li>

                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Maison</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:electromenager_list' %}">Chauffage</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">Meubles</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">Lits</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">Valises</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">...</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Cour</h2>
                            <ul class="links">
                              <li><a href="{% url 'products:electromenager_list' %}">Outils</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">Sécurités</a></li>
                              <li><a href="{% url 'products:electromenager_list' %}">...</a></li>

                            </ul>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner"> <a href="{% url 'products:electromenager_list' %}"><img alt="" src="{% static 'images/sliders/slide3_.jpg' %}"></a> </div>
                        </div>
                        <!-- /.row --> 
                      </div>
                      <!-- /.yamm-content --> </li>
                  </ul>
                </li>

<!--                 <li class="dropdown hidden-sm"> <a href="#">Watches</a> </li>
 -->
                <!-- <li class="dropdown"> <a href="#">Bijouteries</a> </li> -->
                <li class="dropdown"> <a href="#">Chaussures</a> </li>
                <li class="dropdown"> <a href="#">Mecs & Moeufs</a> </li>
<!--                 <li class="dropdown"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Pages</a>
                  <ul class="dropdown-menu pages">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-menu">
                            <ul class="links">
                              <li><a href="{% url 'home' %}">Maison</a></li>
                              <li><a href="#">Category</a></li>
                              <li><a href="#">Fourniture</a></li>
                              <li><a href="#">Procedure de payement</a></li>
                              <li><a href="{% url 'carts:payement_method' %}">La caisse</a></li>
                              <li><a href="#">Blog</a></li>
                              <li><a href="#">Blog Detail</a></li>
                              <li><a href="#">Contact</a></li>
                              <li><a href="#">Connexion</a></li>
                              <li><a href="#">Wishlist</a></li>
                              <li><a href="#">Termes et Conditions</a></li>
                              <li><a href="#">Suivi des commandes</a></li>
                              <li><a href="#">Comparaison des produits</a></li>
                              <li><a href="#">FAQ</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li> -->
                <li class="dropdown  navbar-right special-menu"> <a href="#">Offres du jour</a> </li>
              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer --> 
          </div>
          <!-- /.navbar-collapse --> 
          
        </div>
        <!-- /.nav-bg-class --> 
      </div>
      <!-- /.navbar-default --> 
    </div>
    <!-- /.container-class --> 
    
  </div>
  <!-- /.header-nav --> 
  <!-- ============================================== NAVBAR : END ============================================== --> 
  
