{% load static %}


{% url 'home' as home_url %}

{% url "products:list" as products_list_url %}

{% url "contact" as contact_url %}

{% url "accounts:login" as login_url %}
{% url "accounts:logout" as logout_url %}
{% url "accounts:register" as register_url %}
{% url "accounts:home" as account_home_url %}


{% url "carts:home" as cart_home_url %}







<nav class="navbar navbar-expand-sm navbar-light bg-info mb-3 haut__nav" >
   <div class="container haut__nav__container">
      <a class="navbar-brand ui__brand__link" href="{% url 'home' %}" style="color: #fff;">
        <img src="{% static 'img/logo/png/001-elephant.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">

      {% if brand_name %} {{ brand_name }} {% else %} CFE eCommerce {% endif %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse ui__iner" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ui__iner__ul">
          <li class="nav-item {% if request.path == home_url %} active {% endif %} ui__iner__ul__item">
            <a class="nav-link ui__iner__ul__link" href="{{ home_url }}" style="color: #fff;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% if request.path == contact_url %} active {% endif %} ui__iner__ul__item">
            <a class="nav-link ui__iner__ul__link" href="{{ contact_url }}" style="color: #fff;">Contact</a>
          </li>

          <li class="nav-item {% if request.path == products_list_url %} active {% endif %} ui__iner__ul__item">
            <a class="nav-link ui__iner__ul__link" href="{{ products_list_url }}" style="color: #fff;">Products</a>
          </li>

          {% if request.user.is_authenticated %}
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item {% if request.path == account_home_url %} active {% endif %}" href="{{ account_home_url }}">Home</a>
                <a class="dropdown-item" href="{{ account_home_url }}#billing">Billing</a>
             
                <a class="dropdown-item" href="{% url 'products:user_product_history' %}">History</a>
                <a class="dropdown-item" href="{% url 'library' %}">Library</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
              </div>
        </li>

          {% else %}

           <li class="nav-item {% if request.path == login_url %} active {% endif %} ui__iner__ul__item">
            <a class="nav-link ui__iner__ul__link " href="{{ login_url }}">Login</a>
          </li>
          <li class="nav-item {% if request.path == register_url %} active {% endif %} ui__iner__ul__item">
            <a class="nav-link ui__iner__ul__link" href="{{ register_url }}">Register</a>
          </li>

          {% endif %}

          <li class="nav-item {% if request.path == cart_home_url %} active {% endif %} ui__iner__ul__item">
            <a class="nav-link ui__iner__ul__link" href="{{ cart_home_url }}"><span class="navbar-cart-count" style="color: #fff;">{{ request.session.cart_items }}</span> <i class="fa fa-cart-plus"></i></i></a>
          </li>



        </ul>
        {% include "search/snippets/search_form.html" %}
      </div>
</div>
</nav>