*{
	margin:0;
	padding: 0;
}

body, html{
	min-height: 100%;
	overflow-x: hidden;
}




body{
	font-family: sans-serif;
	/*padding: 50px;*/
	/*background: linear-gradient(45deg, #f37646, #f3e946) center center no-repeat;*/
	line-height: 1.4;
}


.carousel__ui__1{
	max-height: 300px;
	margin-bottom: 40px;
	}






.item{
	margin: 40px 10px;
	position: relative;
	background-color: #fff;
	box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
	transition: transform 0.3s;
	transform: translate3d(0, -1px, 0);
}

.item:hover{
	transform: translate3d(0, -10px, 0);
}


/*.item img{
	/*position: absolute;*/
	/*
	display: block;
	width: 72px;
	height: 150px;
}*/

.item__container{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    opacity: 1;
    width: 100%;
    max-height: 366px;
    text-align: center;
}

.item__container__image{
	height: 150px;
}

.item__container__image__inner{
	width: 150px;
	height: 150px;
	position: relative;
    margin: 0 auto;
}

.item__container__image__inner__container{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    /*opacity: 0;*/
    max-width: 100%;
    max-height: 100%;
}



.item__title{
	font-size: 24px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #232323;
	margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item__description{
	font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:black;
}




.items{
	position: relative;
}


/*Carousel*/

.carousel_lead{
	font-weight: bold;
}

.carousel__ui__2, .carousel__ui__3, .carousel__ui__electronique {
	margin-top: 100px;
	display: block;
	margin-bottom: 70px;

}

.carousel__ui{
	position: relative;
	overflow: hidden;
}

.carousel__container{
	transition: transform 0.3s;
	transform: translate3d(0,0,0);
	margin-bottom: 3%;
}

.carousel__container::after{
	content: "";
	clear: both;
	display: table;
}


.carousel__item{
	float: left;
}



.carousel__next, .carousel__prev{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #fff url(next.svg) center center no-repeat;
	background-size: 20px 20px;
	border-radius: 50%
	top: 50%;
	bottom: 50%;
	margin-top: -20px;
	right: -3px;
	box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
	cursor: pointer;
	transition: transform 0.3s opacity 0.3s;

}

.carousel__next:hover, .carousel__prev:hover{
	transform: scale(1.2);



	}


.carousel__prev{
	right: auto;
	left: -3px;
	background-image: url(prev.svg);
}

.carousel__prev__hidden, .carousel__next__hidden{
	opacity: 0;
	display: none;
}

.carousel__pagination{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: none;
	margin-top: 10px;

}


.carousel__pagination__button{
	background-color: grey;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 3px;
	box-shadow: 0 2px 5px #3232321a;
	transition: transform 0.3s;
	cursor: pointer;

}


.carousel__pagination__button__active, .carousel__pagination__button:hover{
	transform: scale(1.5);
}

@media screen and (min-width: 800px){
	.carousel__pagination{
		display: block;
	}
}


.marques{
	margin: 40px;
}

