
a{
	text-decoration: none;
	color: inherit;
}
ul.marque-tabs, .marque-tabs li{
	margin: 0;
	padding: 0;
	list-style: none;
}

.marque-tabs li{
	float:left;
	display: block;
}

.marque-tabs:after{
	display: table;
	content: ' ';
	clear: both;
}

.marque-tabs a {
	display: inline-block;
	background-color: #EEE;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 10px 15px;
}


.marque-tabs .active a{
	background-color: #fff
	}


.marque-tabs a, .marque-tabs .active a:hover{
	color: black;
	}

.marque-tabs-content{
	position: relative;
	z-index: 3;
	padding: 20px; 
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.24);
	margin-bottom: 20px;
}

.marque-tab-content{
	display: none;
}

.marque-tab-content.active{
	display: block;
}


.fade{
	opacity: 0;
	transition: opacity .5s;

}

.fade.in{
	opacity: 1;
}