{% load static %}


<div class='col-md-3 sidebar'> 
        <!-- ================================== TOP NAVIGATION ================================== -->
        <div class="side-menu animate-dropdown outer-bottom-xs">
          <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Catégories</div>
          <nav class="yamm megamenu-horizontal">
            <ul class="nav">
              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-shopping-bag" aria-hidden="true"></i>Vêtements</a>
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:women_clothing_list' %}">Robes</a></li>
                          <li><a href="{% url 'products:women_shoe_list' %}">Chaussures </a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Jackets</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Sunglasses</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Sport Wear</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Blazers</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shirts</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shorts</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Handbags</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Jwellery</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Swimwear </a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Tops</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Flats</a></li>
                          <li><a href="{% url 'products:men_shoe_list' %}">Shoes</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Winter Wear</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Night Suits</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:women_clothing_list' %}">Toys &amp; Games</a></li>
                          <li><a href="{% url 'products:pantalon_list' %}">Jeans</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shirts</a></li>
                          <li><a href="{% url 'products:men_shoe_list' %}">Shoes</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">School Bags</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Lunch Box</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Footwear</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Wipes</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:women_shoe_list' %}">Sandals </a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shorts</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Dresses</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Jwellery</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Bags</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Night Dress</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Swim Wear</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Toys</a></li>
                        </ul>
                      </div>
                      <!-- /.col --> 
                    </div>
                    <!-- /.row --> 
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->
              
              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-laptop" aria-hidden="true"></i>Electronics</a> 
                <!-- ================================== MEGAMENU VERTICAL ================================== -->
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="{% url 'products:computer_list' %}">Oridinateurs</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Laptop Skins</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Apple</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Dell</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Lenovo</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Microsoft</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Asus</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Adapters</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Batteries</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Cooling Pads</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="{% url 'products:computer_list' %}">Routers &amp; Modems</a></li>
                          <li><a href="{% url 'products:computer_list' %}">CPUs, Processors</a></li>
                          <li><a href="{% url 'products:computer_list' %}">PC Gaming Store</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Graphics Cards</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Components</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Webcam</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Memory (RAM)</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Motherboards</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Keyboards</a></li>
                          <li><a href="{% url 'products:computer_list' %}">Headphones</a></li>
                        </ul>
                      </div>
                      <div class="dropdown-banner-holder"> <a href="#"><img alt="" src="{% static 'images/banners/banner-side.png' %}" /></a> </div>
                    </div>
                    <!-- /.row --> 
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> 
                <!-- ================================== MEGAMENU VERTICAL ================================== --> </li>
              <!-- /.menu-item -->
              
              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-paw" aria-hidden="true"></i>Chaussures</a>
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:women_clothing_list' %}">Robes</a></li>
                          <li><a href="{% url 'products:women_shoe_list' %}">Chaussures </a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Jackets</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Sunglasses</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Sport Wear</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Blazers</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shirts</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shorts</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Handbags</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Bijouterie</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Swimwear </a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Tops</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Flats</a></li>
                          <li><a href="{% url 'products:men_shoe_list' %}">Shoes</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Winter Wear</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Night Suits</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:women_clothing_list' %}">Toys &amp; Games</a></li>
                          <li><a href="{% url 'products:pantalon_list' %}">Jeans</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shirts</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shoes</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">School Bags</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Lunch Box</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Footwear</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Wipes</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:women_clothing_list' %}">Sandals </a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shorts</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Dresses</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Jwellery</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Bags</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Night Dress</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Swim Wear</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Toys</a></li>
                        </ul>
                      </div>
                      <!-- /.col --> 
                    </div>
                    <!-- /.row --> 
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->
              
              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-clock-o"></i>Électroménagers</a>
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="{% url 'products:electromenager_list' %}">Cuisine</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Maison</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Jardin</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Cour</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Outils</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Sécurité</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Toilette</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">...</a></li>

                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="{% url 'products:electromenager_list' %}">Cuisine &amp; Moderne</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Jardin</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Cour</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Toilettes</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Sécurités</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">...</a></li>
                          <li><a href="{% url 'products:electromenager_list' %}">Maison</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">...</a></li>

                        </ul>
                      </div>
                      <div class="dropdown-banner-holder"> <a href="#"><img alt="" src="{% static 'images/banners/banner-side.png' %}" /></a> </div>
                    </div>
                    <!-- /.row --> 
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->
              
              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-diamond"></i>Bijouterie</a>
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:women_clothing_list' %}">Dresses</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shoes </a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Jackets</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Sunglasses</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Sport Wear</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Blazers</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shirts</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shorts</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:women_clothing_list' %}">Handbags</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Jwellery</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Swimwear </a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Tops</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Flats</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shoes</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Winter Wear</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Night Suits</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Toys &amp; Games</a></li>
                          <li><a href="{% url 'products:pantalon_list' %}">Jeans</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shirts</a></li>
                          <li><a href="{% url 'products:women_shoe_list' %}">Shoes</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">School Bags</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Lunch Box</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Footwear</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Wipes</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="{% url 'products:women_shoe_list' %}">Sandals </a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Shorts</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Dresses</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Jwellery</a></li>
                          <li><a href="{% url 'products:accessoire_clothing_list' %}">Bags</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Night Dress</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Swim Wear</a></li>
                          <li><a href="{% url 'products:women_clothing_list' %}">Toys</a></li>
                        </ul>
                      </div>
                      <!-- /.col --> 
                    </div>
                    <!-- /.row --> 
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->
              
              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-heartbeat"></i>Santé &amp; beauté</a>
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="#">Crème</a></li>
                          <li><a href="#">Savon</a></li>
                          <li><a href="#">Parfum</a></li>
                          <li><a href="#">...</a></li>

                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="#">Crème</a></li>
                          <li><a href="#">Produits bio</a></li>
                          <li><a href="#">Parfum</a></li>
                          <li><a href="#">...</a></li>

                        </ul>
                      </div>
                      <div class="dropdown-banner-holder"> <a href="#"><img alt="" src="{% static 'images/banners/banner1.jpg' %}" /></a> </div>
                    </div>
                    <!-- /.row --> 
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->
              
              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-paper-plane"></i>Kids and Babies</a> 
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->
              
              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-futbol-o"></i>Sports</a> 
                <!-- ================================== MEGAMENU VERTICAL ================================== --> 
                <!-- /.dropdown-menu --> 
                <!-- ================================== MEGAMENU VERTICAL ================================== --> </li>
              <!-- /.menu-item -->
              
              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-envira"></i>Home and Garden</a> 
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->
              
            </ul>
            <!-- /.nav --> 
          </nav>
          <!-- /.megamenu-horizontal --> 
        </div>
        <!-- /.side-menu --> 
        <!-- ================================== TOP NAVIGATION : END ================================== -->
        <div class="sidebar-module-container">
          <div class="sidebar-filter"> 
            <!-- ============================================== SIDEBAR CATEGORY ============================================== -->
            <div class="sidebar-widget wow fadeInUp">
              <h3 class="section-title">shop by</h3>
              <div class="widget-header">
                <h4 class="widget-title">Category</h4>
              </div>
              <div class="sidebar-widget-body">
                <div class="accordion">
                  <div class="accordion-group">
                    <div class="accordion-heading"> <a href="#collapseOne" data-toggle="collapse" class="accordion-toggle collapsed"> Camera </a> </div>
                    <!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div>
                      <!-- /.accordion-inner --> 
                    </div>
                    <!-- /.accordion-body --> 
                  </div>
                  <!-- /.accordion-group -->
                  
                  <div class="accordion-group">
                    <div class="accordion-heading"> <a href="#collapseTwo" data-toggle="collapse" class="accordion-toggle collapsed"> Desktops </a> </div>
                    <!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div>
                      <!-- /.accordion-inner --> 
                    </div>
                    <!-- /.accordion-body --> 
                  </div>
                  <!-- /.accordion-group -->
                  
                  <div class="accordion-group">
                    <div class="accordion-heading"> <a href="#collapseThree" data-toggle="collapse" class="accordion-toggle collapsed"> Pants </a> </div>
                    <!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseThree" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div>
                      <!-- /.accordion-inner --> 
                    </div>
                    <!-- /.accordion-body --> 
                  </div>
                  <!-- /.accordion-group -->
                  
                  <div class="accordion-group">
                    <div class="accordion-heading"> <a href="#collapseFour" data-toggle="collapse" class="accordion-toggle collapsed"> Bags </a> </div>
                    <!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseFour" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div>
                      <!-- /.accordion-inner --> 
                    </div>
                    <!-- /.accordion-body --> 
                  </div>
                  <!-- /.accordion-group -->
                  
                  <div class="accordion-group">
                    <div class="accordion-heading"> <a href="#collapseFive" data-toggle="collapse" class="accordion-toggle collapsed"> Hats </a> </div>
                    <!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseFive" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div>
                      <!-- /.accordion-inner --> 
                    </div>
                    <!-- /.accordion-body --> 
                  </div>
                  <!-- /.accordion-group -->
                  
                  <div class="accordion-group">
                    <div class="accordion-heading"> <a href="#collapseSix" data-toggle="collapse" class="accordion-toggle collapsed"> Accessories </a> </div>
                    <!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseSix" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div>
                      <!-- /.accordion-inner --> 
                    </div>
                    <!-- /.accordion-body --> 
                  </div>
                  <!-- /.accordion-group --> 
                  
                </div>
                <!-- /.accordion --> 
              </div>
              <!-- /.sidebar-widget-body --> 
            </div>
            <!-- /.sidebar-widget --> 
            <!-- ============================================== SIDEBAR CATEGORY : END ============================================== --> 
            
            
            
            <!-- ============================================== PRICE SILDER============================================== -->
            <div class="sidebar-widget wow fadeInUp">
              <div class="widget-header">
                <h4 class="widget-title">Price Slider</h4>
              </div>
              <div class="sidebar-widget-body m-t-10">
                <div class="price-range-holder"> <span class="min-max"> <span class="pull-left">$200.00</span> <span class="pull-right">$800.00</span> </span>
                  <input type="text" id="amount" style="border:0; color:#666666; font-weight:bold;text-align:center;">
                  <input type="text" class="price-slider" value="" >
                </div>
                <!-- /.price-range-holder --> 
                <a href="#" class="lnk btn btn-primary">Show Now</a> </div>
              <!-- /.sidebar-widget-body --> 
            </div>
            <!-- /.sidebar-widget --> 
            <!-- ============================================== PRICE SILDER : END ============================================== --> 






            <!-- ============================================== MANUFACTURES============================================== -->
            <div class="sidebar-widget wow fadeInUp">
              <div class="widget-header">
                <h4 class="widget-title">Manufactures</h4>
              </div>
              <div class="sidebar-widget-body">
                <ul class="list">
                  <li><a href="#">Forever 18</a></li>
                  <li><a href="#">Nike</a></li>
                  <li><a href="#">Dolce & Gabbana</a></li>
                  <li><a href="#">Alluare</a></li>
                  <li><a href="#">Chanel</a></li>
                  <li><a href="#">Other Brand</a></li>
                </ul>
                <!--<a href="#" class="lnk btn btn-primary">Show Now</a>--> 
              </div>
              <!-- /.sidebar-widget-body --> 
            </div>
            <!-- /.sidebar-widget --> 
            <!-- ============================================== MANUFACTURES: END ============================================== --> 
            <!-- ============================================== COLOR============================================== -->
            <div class="sidebar-widget wow fadeInUp">
              <div class="widget-header">
                <h4 class="widget-title">Colors</h4>
              </div>
              <div class="sidebar-widget-body">
                <ul class="list">
                  <li><a href="#">Red</a></li>
                  <li><a href="#">Blue</a></li>
                  <li><a href="#">Yellow</a></li>
                  <li><a href="#">Pink</a></li>
                  <li><a href="#">Brown</a></li>
                  <li><a href="#">Teal</a></li>
                </ul>
              </div>
              <!-- /.sidebar-widget-body --> 
            </div>
            <!-- /.sidebar-widget --> 
            <!-- ============================================== COLOR: END ============================================== --> 
            <!-- ============================================== COMPARE============================================== -->
            <div class="sidebar-widget wow fadeInUp outer-top-vs">
              <h3 class="section-title">Compare products</h3>
              <div class="sidebar-widget-body">
                <div class="compare-report">
                  <p>You have no <span>item(s)</span> to compare</p>
                </div>
                <!-- /.compare-report --> 
              </div>
              <!-- /.sidebar-widget-body --> 
            </div>
            <!-- /.sidebar-widget --> 
            <!-- ============================================== COMPARE: END ============================================== --> 
            <!-- ============================================== PRODUCT TAGS ============================================== -->
            <div class="sidebar-widget product-tag wow fadeInUp outer-top-vs">
              <h3 class="section-title">Product tags</h3>
              <div class="sidebar-widget-body outer-top-xs">
                <div class="tag-list"> <a class="item" title="Phone" href="category.html">Phone</a> <a class="item active" title="Vest" href="category.html">Vest</a> <a class="item" title="Smartphone" href="category.html">Smartphone</a> <a class="item" title="Furniture" href="category.html">Furniture</a> <a class="item" title="T-shirt" href="category.html">T-shirt</a> <a class="item" title="Sweatpants" href="category.html">Sweatpants</a> <a class="item" title="Sneaker" href="category.html">Sneaker</a> <a class="item" title="Toys" href="category.html">Toys</a> <a class="item" title="Rose" href="category.html">Rose</a> </div>
                <!-- /.tag-list --> 
              </div>
              <!-- /.sidebar-widget-body --> 
            </div>
            <!-- /.sidebar-widget --> 
          <!----------- Testimonials------------->
            <div class="sidebar-widget  wow fadeInUp outer-top-vs ">
              <div id="advertisement" class="advertisement">
                <div class="item">
                  <div class="avatar"><img src="{% static 'images/testimonials/member1.png' %}" alt="Image"></div>
                  <div class="testimonials"><em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>
                  <div class="clients_author">John Doe <span>Abc Company</span> </div>
                  <!-- /.container-fluid --> 
                </div>
                <!-- /.item -->
                
                <div class="item">
                  <div class="avatar"><img src="{% static 'images/testimonials/member3.png' %}" alt="Image"></div>
                  <div class="testimonials"><em>"</em>Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>
                  <div class="clients_author">Stephen Doe <span>Xperia Designs</span> </div>
                </div>
                <!-- /.item -->
                
                <div class="item">
                  <div class="avatar"><img src="{% static 'images/testimonials/member2.png' %}" alt="Image"></div>
                  <div class="testimonials"><em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>
                  <div class="clients_author">Saraha Smith <span>Datsun &amp; Co</span> </div>
                  <!-- /.container-fluid --> 
                </div>
                <!-- /.item --> 
                
              </div>
              <!-- /.owl-carousel --> 
            </div>
            
            <!-- ============================================== Testimonials: END ============================================== -->
            
            <!-- <div class="home-banner"> <img src="{% static 'images/banners/appliSyliMarket.png' %}" alt="Image"> </div> -->
          </div>
          <!-- /.sidebar-filter --> 
        </div>
        <!-- /.sidebar-module-container --> 
      </div>
      <!-- /.sidebar -->