{% if views %}
	<section class="section featured-product wow fadeInUp">
		<h3 class="section-title">Vous pouriez aussi aimer </h3>
		<div class="owl-carousel home-owl-carousel upsell-product custom-carousel owl-theme outer-top-xs">
			{% for product in views %}
		    	
			<div class="item item-carousel">
				<div class="products">
					
		<div class="product">		
			<div class="product-image">
				<div class="image">
					<a href="{{ product.get_absolute_url }}"><img  src="{{ product.image.url }}" alt=""></a>
				</div><!-- /.image -->	
					{% if product.solde %}		
				        <div class="tag sale new"><span>sale</span></div>
				    {% elif product.special %}     
                        <div class="tag hot"><span>hot</span></div>
				    {% elif product.featured %}     
                        <div class="tag new"><span>new</span></div>
                    {% else %}
                        <div class="tag hot"><span>hot</span></div>
                    {% endif %}





			</div><!-- /.product-image -->
				
			
			<div class="product-info text-left">
				<h3 class="name"><a href="detail.html">{{ product.name }}</a></h3>
				<div class="rating rateit-small">
                  {% include "carts/snippets/update_cart.html" with product=product %}
                </div>
				<div class="description"></div>

				<div class="product-price">	
					<span class="price">
						${{ product.price }}				</span>
											     <span class="price-before-discount">$ {{ product.price }}</span>
										
				</div><!-- /.product-price -->
				
			</div><!-- /.product-info -->
						<div class="cart clearfix animate-effect">
					<div class="action">
						<ul class="list-unstyled">
							<li class="add-cart-button btn-group">
								<button class="btn btn-primary icon" data-toggle="dropdown" type="button">
									<i class="fa fa-shopping-cart"></i>													
								</button>
								<button class="btn btn-primary cart-btn" type="button">Add to cart</button>
														
							</li>
		                   
			                <li class="lnk wishlist">
								<a class="add-to-cart" href="{{ product.get_absolute_url }}" title="Wishlist">
									 <i class="icon fa fa-heart"></i>
								</a>
							</li>

							<li class="lnk">
								<a class="add-to-cart" href="{{ product.get_absolute_url }}" title="Compare">
								    <i class="fa fa-signal"></i>
								</a>
							</li>
						</ul>
					</div><!-- /.action -->
				</div><!-- /.cart -->
				</div><!-- /.product -->
	      
				</div><!-- /.products -->
			</div><!-- /.item -->

			{% endfor %}
		

				</div><!-- /.home-owl-carousel -->
	</section><!-- /.section -->

{% endif %}
