{% extends "base.html" %}

{% block title %}

<title>SyliMarket:Library</title>

{% endblock title %}

{% block content %}
<div class="container">


	<div class="row">
		<div class="col-12 col-md-6 mx-auto">
			
			<h1>Commande {{ object.order_id }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-6 mx-auto">
			
			<p>Items : {% for product in  object.cart.products.all %} {{ product }} {% if not forloop.last %}, {% endif %} {% endfor %}</p>

			<p>Adresse de livraison : {{ object.shipping_address.get_address }}</p>
			<p>Adresse de facturation : {{ object.billing_address.get_address }}</p>



			<p>Total : {{ object.cart.total }}</p>
			<p>Total d'expédition: {{ object.shipping_total }}</p>

			<p>Total de la commande: {{ object.total }}</p>
			<p>Statut de la commande : {{ object.get_status }}</p>

		</div>
	</div>


</div>
{% endblock content %}
