{% extends "base.html" %}

	    {% block javascript %}
	    	<script type="text/javascript">
					    		
				//Vérification de la longueur du mot de passe saisi
				document.getElementById("controleMdpSaisi").addEventListener("input", function(e){
					var mdp = e.target.value;//Valeur saisie dans le champ mdp
					var longueurMdp = "faible";
					var couleurmsg = "red";//Longueur faible=>couleur rouge
					if(mdp.length>=8){
						longueurMdp = "Suffisante";
						couleurmsg="green";//Longueur suffisante=>couleurmsg verte
					}
					else if(mdp.length>=4){
						longueurMdp = "moyenne";
						couleurmsg = "orange";//Longueur moyenne=>couleurmsg orange
					}

					var aideMdpElt = document.getElementById("aideMdp");
					aideMdp.textContent="Longueur : " + longueurMdp; //Texte de l'aide
					aideMdp.style.color = couleurmsg;//Couleur du texte de l'aide
				});
	    	</script>

{% endblock javascript %}


{% block title %}

<title>SyliMarket:Enregistrement</title>

{% endblock title %}


{% block content %}




<div class="container">
	
      <div class="row centered-form">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Enregistez-vous sur SyliMarket</h3>
            </div>

            <div class="panel-body">
                 	 <form method="post" role="form" >
	                    {% csrf_token %}
	                    {% csrf_token %}
			                 {% if form.errors %}

			                 	{% for error in form.errors.values %}
			                 	<div style="color: red">
			                 		
			                 		{{ error }}
			                 	</div>
						         {% endfor %}
			                 	
						     {% endif %}


	                 	 <div class="row">
	                      	<div class="col-xs-12 col-sm-12 col-md-6">
	                      	  <div class="form-group">

									{{ form.email.label }}
									{{ form.email }}
									{% if form.email.errors %}
										<small style="color: red">{{ form.email.erros }}</small>
									{% endif %}

								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6">
	                      	  	<div class="form-group">

									{{ form.mobile.label }}
									{{ form.mobile }}
									{% if form.mobile.errors %}
										<small style="color: red">{{ form.mobile.erros }}</small>
									{% endif %}

								</div>
							</div>
						</div>


						 <div class="row">
	                      	<div class="col-xs-12 col-sm-12 col-md-6">
		                      	  <div class="form-group">

									{{ form.password1.label }}
									{{ form.password1 }}
									{% if form.password1.errors %}
										<small style="color: red">{{ form.password1.erros }}</small>
									{% endif %}
						    		<span id="aideMdp"></span>
						    	</div>
					    	</div>

					    	<div class="col-xs-12 col-sm-12 col-md-6">
	                      	  	<div class="form-group">
									{{ form.password2.label }}
									{{ form.password2 }}
									{% if form.password2.errors %}
										<small style="color: red">{{ form.password2.erros }}</small>
									{% endif %}
								</div>
							</div>
						</div>

						<button type="submit" class="btn btn-info btn-block">Envoyer</button>
					 </form>
				</div>
			</div>
		</div>
	</div>



</div>


<script type="text/javascript">
		    		
	//Vérification de la longueur du mot de passe saisi
	document.getElementById("controleMdpSaisi").addEventListener("input", function(e){
		var mdp = e.target.value;//Valeur saisie dans le champ mdp
		var longueurMdp = "faible";
		var couleurmsg = "red";//Longueur faible=>couleur rouge
		if(mdp.length>=8){
			longueurMdp = "Suffisante";
			couleurmsg="green";//Longueur suffisante=>couleurmsg verte
		}
		else if(mdp.length>=4){
			longueurMdp = "moyenne";
			couleurmsg = "orange";//Longueur moyenne=>couleurmsg orange
		}

		var aideMdpElt = document.getElementById("aideMdp");
		aideMdp.textContent="Longueur : " + longueurMdp; //Texte de l'aide
		aideMdp.style.color = couleurmsg;//Couleur du texte de l'aide
	});
</script>
{% endblock content %}