

<form class="form form-product-ajax" method="POST" action="{% url 'carts:update_cart' %}" data-endpoint="{% url 'carts:update_cart' %}" style="display: inline-block;">

	{% csrf_token %}
	<input class="cart-item-product-id" type="hidden" name="product_id" value="{{ product.id }}">

		<span class="submit-span">
			{% if product in cart.products.all %}
				<button type="submit" class="btn btn-primary cart-btn" style="display: inline-block;">Enlever</button>
			{% else %}
				<button type="submit" class="btn btn-primary cart-btn" style="display: inline-block;">Ajouter</button>
			{% endif %}
		</span>

</form>




