

<form class="form form-product-ajax for-qty" method="POST" action="{% url 'carts:update_cart' %}" data-endpoint="{% url 'carts:update_cart' %}" style="display: inline-block;">

	{% csrf_token %}
	<input class="cart-item-product-id" type="hidden" name="product_id" value="{{ product.id }}">
	<input class="product-qty-input" id="product-qty-input" name="product_quantite" type="hidden" value="1">

		<span class="submit-span submit-for-qty">
			{% if product in cart.products.all %}
				<button type="submit" class="btn btn-primary cart-btn" style="display: inline-block;"><span><i class="fa fa-times"></i></span> Enlever</button>

			{% else %}
				<button type="submit" class="btn btn-primary cart-btn" style="display: inline-block;"><span><i class="fa fa-plus-circle"></i></span> Ajouter</button>
			{% endif %}
		</span>

</form>




