{% load static %}

<!DOCTYPE html>
<html lang="fr-FR">

<head>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content=" Achat et vente en ligne parmi des millions de produits en stock. Livraison gratuite à partir d'un niveau d'achat négociable. Vos articles à petits prix : culture, high-tech, mode, jouets, sport, maison et bien plus, mais aussi où particuliers et acheteurs peuvent faire des affaires avec de bon prix pour que chacun tire son epingle du jeu">

<meta name="keywords" content="SyliMarket, sylimarket.com , vêtements, accessoires, chaussures, bijoux, montres, produits de bureau, livres, achats en ligne, librairie, magazine, abonnement, musique, Cds, DVD, vidéo, électronique, jeux vidéo, ordinateurs, téléphones portables, jouets, jeux,  sports en plein air, articles de sport, produits pour bébés, santé, soins personnels, maison, jardin, lit et de bain, meubles, outils, matériel, aspirateurs, vie en plein air, pièces pour véhicules automobiles, fournitures pour animaux de compagnie, à large bande">
<meta name="google-site-verification" content="EoM4bay2ydVfxU9AZVJp3tt8yicZeCJYkJyvNz1ybRw" />
<meta name="robots" content="all">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<!-- Jetpack Open Graph Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Site de vente en ligne où particuliers et acheteurs peuvent faire des affaires avec de bon prix pour que chacun tire son epingle du jeu" />
<meta property="og:url" content="https://sylimarket.com/" />
<meta property="og:site_name" content="Site de vente en ligne où particuliers et acheteurs peuvent faire des affaires avec de bon prix pour que chacun tire son epingle du jeu" />
<meta property="og:image" content="{% static 'images/logo/png/logo.png' %}" />
<meta property="og:locale" content="fr_FR" />
<meta name="twitter:site" content="@MarketSyli" />
<meta name="twitter:text:title" content="home" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Voir plus en détail." />
<meta property="fb:app_id" content="2325470094440963">

<!--  -->
<link rel="canonical" href="https://sylimarket.com/">
<link rel="icon" href="{% static 'images/logo/png/logo.png' %}">

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="9b6da92c-3300-4838-8de3-db9cc35e4c17";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>


<title>SyliMarket</title>

        {% include "base/css.html" %}
</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1"> 
    {% include "base/nav.html" with brand_name="SyliMarket"  %} 
  
</header>

<!-- ============================================== HEADER : END ============================================== -->


<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">
      {% if messages %}
            <div class=" alert alert-success messages">
              {% for message in messages %}
                <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important : {% endif %}
                  {{ message }} <br>
                  </span>
              {% endfor %}
            </div>

          {% endif %}
        {% block content %}{% endblock content %}


  </div>
  <!-- /.container --> 
</div>
<!-- /#top-banner-and-menu --> 


        {% block footer %}
          {% include "base/footer.html" %}
        {% endblock footer %}


        {% include "base/js.html"  %}



</body>

</html>