/* line 3, cart.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, _cart_.scss */
.cart__container {
  margin: 40px 10px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
}
/* line 12, _cart_.scss */
.cart__container:hover {
  transform: translate3d(0, -10px, 0);
}
/* line 18, _cart_.scss */
.cart__container .cart__container__inner {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  opacity: 1;
  width: 100%;
  max-height: 366px;
  text-align: center;
}
/* line 31, _cart_.scss */
.cart__container .cart__container__inner .cart__container__image {
  height: 150px;
}
/* line 34, _cart_.scss */
.cart__container .cart__container__inner .cart__container__image .cart__container__image__inner {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}
/* line 40, _cart_.scss */
.cart__container .cart__container__inner .cart__container__image .cart__container__image__inner .cart__container__image__inner__container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  /*opacity: 0;*/
  max-width: 75%;
  max-height: 100%;
}
/* line 57, _cart_.scss */
.cart__container .cart__container__inner .cart__container__body .cart__container__body__title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #232323;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 69, _cart_.scss */
.cart__container .cart__container__inner .cart__container__body .cart__container__body__title__description {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
