/* line 3, navh.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, _navh_.scss */
a {
  text-decoration: none;
}
/* line 9, _navh_.scss */
a:hover {
  text-decoration: none;
  clusor: pointer;
}

/* line 17, _navh_.scss */
ul {
  list-style: none;
}

/* line 22, _navh_.scss */
.ui {
  height: 100px;
  margin-bottom: 3px;
}
/* line 26, _navh_.scss */
.ui .ui__1 {
  height: 50px;
  background: #3B5998;
  padding: 20px auto;
}
/* line 31, _navh_.scss */
.ui .ui__1 .ui__1__logo {
  float: left;
  width: 20%;
  padding-left: 5%;
  border-radius: 50%;
}
/* line 37, _navh_.scss */
.ui .ui__1 .ui__1__logo .ui__1__logo__img {
  display: inline-block;
  padding-right: 3%;
}
/* line 42, _navh_.scss */
.ui .ui__1 .ui__1__logo .ui__1__logo__text {
  display: inline-block;
  padding-top: 5px;
  color: #fff;
  text-align: justify;
  font-size: 150%;
  font-weight: bold;
}
/* line 55, _navh_.scss */
.ui .ui__1 .ui__1__search {
  float: left;
  width: 30%;
  padding: 7px;
}
/* line 61, _navh_.scss */
.ui .ui__1 .ui__1__cart {
  float: left;
  width: 20%;
  padding-left: 30px;
}
/* line 68, _navh_.scss */
.ui .ui__1 .ui__1__cart .ui__1__cart__container {
  display: flex;
}
/* line 73, _navh_.scss */
.ui .ui__1 .ui__1__cart .ui__1__cart__container .ui__1__cart__container__icon {
  width: 17%;
}
/* line 79, _navh_.scss */
.ui .ui__1 .ui__1__cart .ui__1__cart__container .ui__1__cart__container__count {
  text-align: center;
  padding: 2%;
  font-size: 150%;
  font-weight: bold;
}
/* line 94, _navh_.scss */
.ui .ui__1 .ui__1__account {
  float: left;
  width: 20%;
}
/* line 98, _navh_.scss */
.ui .ui__1 .ui__1__account a {
  color: #fff;
}
/* line 103, _navh_.scss */
.ui .ui__1 .ui__1__account .ui__1__account__list {
  padding-top: 5%;
  color: #fff;
  font-weight: bold;
}
/* line 108, _navh_.scss */
.ui .ui__1 .ui__1__account .ui__1__account__list .ui__1__account__list__item {
  display: inline-block;
}
/* line 113, _navh_.scss */
.ui .ui__1 .ui__1__account .ui__1__account__list .ui__1__account__list__item__login {
  padding: 0 5%;
}
/* line 121, _navh_.scss */
.ui .ui__1 .ui__1__products {
  float: left;
  width: 10%;
  vertical-align: middle;
  text-align: center;
  padding-top: 1%;
  padding-right: 3%;
  color: #fff;
  font-weight: bold;
}
/* line 131, _navh_.scss */
.ui .ui__1 .ui__1__products a {
  color: #fff;
}
/* line 138, _navh_.scss */
.ui .ui__1:after {
  clear: both;
}
/* line 148, _navh_.scss */
.ui .ui__2 {
  position: relative;
  width: 100%;
  height: 50px;
  background: #fff;
  z-index: 6;
  margin-bottom: 12px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}
/* line 162, _navh_.scss */
.ui .ui__2 .ui__2__inner {
  height: inherit;
  line-height: 50px;
}
/* line 166, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu {
  height: 100%;
  margin: 0 auto;
  padding-left: 17px;
}
/* line 171, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list {
  display: inline-block;
}
/* line 174, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 7px;
}
/* line 184, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item:hover {
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
}
/* line 190, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item a {
  text-decoration: none;
}
/* line 193, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item a:hover {
  color: inherit;
}
/* line 196, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item a .ui__menu__link {
  display: block;
  width: 100%;
}
/* line 202, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item span {
  color: #212121;
  font-weight: bold;
}
/* line 207, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item .ui__menu__item_svg {
  margin-left: 5px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
/* line 213, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item .ui__menu__item_svg .ui__menu__item_svg__path {
  fill: #878787;
  opacity: 1;
}
/* line 223, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item:hover .ui__menu__dropdown {
  display: block;
}
/* line 230, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item .ui__menu__dropdown {
  display: none;
  position: absolute;
  top: 50px -1;
  left: 0;
  width: 160px;
  background-color: #eaeaea;
  border: 1px solid #e0e0e0;
  border-top: 3px solid #6c9cd8;
  z-index: 3;
  text-align: left;
  color: #333;
}
/* line 244, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item .ui__menu__dropdown .ui__menu__dropdown__item {
  display: block;
  height: auto;
  line-height: initial;
  padding: 10px 20px;
}
/* line 250, _navh_.scss */
.ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item .ui__menu__dropdown .ui__menu__dropdown__item:hover {
  color: #fff;
  background: #0d4870;
}

/* line 271, _navh_.scss */
.ui__fix__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* line 282, _navh_.scss */
#menu__shower {
  display: none;
}

@media screen and (max-width: 1179px) {
  /* line 288, _navh_.scss */
  .ui .ui__1 {
    min-height: 70px;
  }
  /* line 291, _navh_.scss */
  .ui .ui__2 {
    height: 120px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 715px) {
  /* line 303, _navh_.scss */
  #menu__shower {
    display: block;
    position: absolute;
    left: 7px;
    top: 0;
    bottom: 0;
  }

  /* line 310, _navh_.scss */
  .ui {
    margin-bottom: 53px;
  }
  /* line 312, _navh_.scss */
  .ui .ui__1 {
    min-height: 107px;
    background: #3B5998;
    padding: 20px auto;
  }
  /* line 317, _navh_.scss */
  .ui .ui__1 .ui__1__logo {
    width: 50%;
    float: left;
    margin: 0;
  }
  /* line 323, _navh_.scss */
  .ui .ui__1 .ui__1__search {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
  }
  /* line 330, _navh_.scss */
  .ui .ui__1 .ui__1__lg_sh {
    clear: both;
    margin-bottom: 0;
  }
  /* line 337, _navh_.scss */
  .ui .ui__1 .ui__1__cart {
    width: 40%;
    float: left;
    margin-top: 0;
    padding-right: 33px;
  }
  /* line 344, _navh_.scss */
  .ui .ui__1 .ui__1__account {
    width: 40%;
    float: left;
    margin-top: 0;
  }
  /* line 350, _navh_.scss */
  .ui .ui__1 .ui__1__products {
    width: 20%;
    float: left;
    margin-top: 0;
  }
  /* line 356, _navh_.scss */
  .ui .ui__1 .ui__1__ct_ac_pt {
    clear: both;
    margin: 0;
    padding: 0;
  }
  /* line 365, _navh_.scss */
  .ui .ui__2 {
    max-height: 43px;
    padding-top: 0;
  }
  /* line 369, _navh_.scss */
  .ui .ui__2 .ui__2__inner .ui__2__menu {
    position: relative;
    margin: initial !important;
  }
  /* line 374, _navh_.scss */
  .ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list {
    position: absolute;
    top: 50px;
    left: 0;
    margin-right: 0;
    padding-left: 0;
    transform: translateX(-100%);
    display: block;
    width: 200px;
    z-index: 2000;
    background-color: #0d4870;
    padding-right: 0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s;
  }
  /* line 389, _navh_.scss */
  .ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list.show__menu__list {
    transform: translateX(0);
  }
  /* line 395, _navh_.scss */
  .ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item {
    display: block;
    text-align: left;
  }
  /* line 399, _navh_.scss */
  .ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item svg {
    display: none;
  }
  /* line 403, _navh_.scss */
  .ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item.has__child::before {
    content: "+";
    font-size: 0.8rem;
    margin-right: 2px;
  }
  /* line 409, _navh_.scss */
  .ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item.has__child .ui__menu__dropdown {
    display: none;
    position: static;
    width: 100%;
    border-top: none;
    z-index: 3;
    text-align: left;
  }
  /* line 423, _navh_.scss */
  .ui .ui__2 .ui__2__inner .ui__2__menu .ui__2__menu__list .ui__2__menu__item:hover .ui__menu__dropdown {
    display: block;
    animation: showDropdownMenu 5s;
  }
}
@media screen and (max-width: 560px) {
  /* line 451, _navh_.scss */
  .ui .ui__1 {
    min-height: 150px;
    background: #3B5998;
    padding: 20px auto;
  }
  /* line 456, _navh_.scss */
  .ui .ui__1 .ui__1__logo {
    width: 50%;
    float: left;
    margin: 0;
  }
  /* line 462, _navh_.scss */
  .ui .ui__1 .ui__1__search {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
  }
  /* line 469, _navh_.scss */
  .ui .ui__1 .ui__1__lg_sh {
    clear: both;
    margin-bottom: 0;
  }
  /* line 476, _navh_.scss */
  .ui .ui__1 .ui__1__cart {
    width: 100%;
    margin-top: 0;
    padding-right: 33px;
  }
  /* line 481, _navh_.scss */
  .ui .ui__1 .ui__1__cart:after {
    clear: both;
  }
  /* line 486, _navh_.scss */
  .ui .ui__1 .ui__1__account {
    width: 50%;
    float: left;
    margin-top: 0;
  }
  /* line 492, _navh_.scss */
  .ui .ui__1 .ui__1__products {
    width: 50%;
    float: left;
    margin-top: 0;
  }
  /* line 498, _navh_.scss */
  .ui .ui__1 .ui__1__ct_ac_pt {
    clear: both;
    margin: 0;
    padding: 0;
  }
}
@keyframes showDropdownMenu {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
