{% extends "base.html" %}

{% load static %}

{% block title %}

<title>SyliMarket:user history</title>

{% endblock title %}


{% block content %}
<div class="container">
	
	<div class="row">
		<div class="col-12 my-2">
			<h1> Produc view history </h1>
		</div>
		
{% for object in object_list %}
		<div class="col">
			{{ forloop.counter }}
			{% include "products/snippets/card.html" with instance=object %}

			{% comment %}
			{% include "products/snippets/card.html" with instance=object.content_object %}
   			<a href="{{ object.get_absolute_url }}" class="btn btn-primary"> View </a>


   			{% endcomment %}

		</div>



	{% endfor %}
	</div>




</div>
{% endblock content %}